<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>請求書主旨編集</title>
    <link th:href="@{/css/invoice/TopicCreate.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<!-- タイトル -->
<div class="topArea">
    <h1>請求書主旨編集</h1>
</div>

<!-- 編集エリア -->
<div class="editArea">
    <label class="timeLabel">作成年月日</label><span class="currentTime"></span><br>
    <label class="topicLabel" for="topic">請求書主旨<span class="necessary">*</span></label><input type="text" class="topic" placeholder="請求書主旨"><br>
    <label class="idLabel" for="topicId">請求書主旨ID<span class="necessary">*</span></label><input type="text" class="topicId" placeholder="請求書主旨ID（英）"><br>
    <label class="commentLabel" for="comment">コメント</label><textarea placeholder="コメント（略）" class="comment"></textarea>
</div>

<!-- ボタンエリア -->
<div class="buttons">
    <button type="submit" class="cancelBtn">取消</button>
    <button type="button" class="saveBtn">保存</button>
</div>
<script th:src="@{/js/invoice/TopicCreate.js}"></script>
</body>
</html>