@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@200;300;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "IBM Plex Sans JP", sans-serif;
    text-decoration: none;
}

body {
    border: 1px solid black;
    width: 80vw;
    height: 90vh;
    margin-top: 3%;
    margin-left: 10%;
    color: royalblue;
}

.topArea {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    margin-left: 5%;
}

.topArea h1 {
    margin-top: 2%;
}

.topArea .addBtn {
    width: 10%;
    height: 100%;
    text-align: center;
    font-size: larger;
    background-color: royalblue;
    color: aliceblue;
}

.searchBar {
    width: 90%;
    height: 6%;
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.searchBar .conditions {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: larger;
}

.searchBar .conditions span {
    padding-top: 0.5%;
}

.searchBar .conditions select {
    padding-left: 0.5%;
    font-size: large;
    font-weight: 600;
    color: royalblue;
    background-color: aliceblue;
    border: 1px solid aliceblue;
}

.searchBar .conditions #dateType {
    width: 15%;
}

.searchBar .conditions #year {
    width: 10%;
}

.searchBar .conditions #month {
    width: 10%;
}

.searchBar .conditions #corp {
    width: 35%;
}

.searchBar .searchBtn {
    width: 5%;
    height: 100%;
    text-align: center;
    font-size: large;
    background-color: royalblue;
    color: aliceblue;
}

.searchResult {
    width: 90%;
    height: 65%;
    margin-top: 2%;
    margin-left: 5%;
    font-size: large;
    font-weight: 600;
}

.searchResult .listTitle {
    width: 60%;
    height: 8%;
}

.searchResult .listTitle .chargeDateTitle {
    margin-left: 3%;
}

.searchResult .listTitle .createDateTitle {
    margin: 0% 12.5%;
}

.searchResult .listTitle .corpTitle {
    margin-left: 1.3%;
    margin-right: 20%;
}

.searchResult .eachInvoice {
    width: 100%;
    height: 92%;
    position: relative;
}

.searchResult .eachInvoice .invoice {
    width: 100%;
    height: 9%;
    margin-top: 1%;
    position: relative;
    display: flex;
}

.searchResult .eachInvoice .invoice .num {
    width: 1vw;
}

.searchResult .eachInvoice .invoice .chargeDate {
    margin-left: 3.5%;
}

.searchResult .eachInvoice .invoice .createDate {
    margin: 0% 5%;
    width: 10%;
}

.searchResult .eachInvoice .invoice .corp {
    margin-right: 5.8%;
    width: 10%;
}

.searchResult .eachInvoice .invoice button {
    position: absolute;
    width: 5%;
    height: 100%;
    text-align: center;
    font-size: large;
    background-color: royalblue;
    color: aliceblue;
}

.searchResult .eachInvoice .invoice .viewBtn {
    right: 8%;
}

.searchResult .eachInvoice .invoice .deleteBtn {
    right: 0;
}

.buttons {
    width: 90%;
    height: 7%;
    margin-top: 0.5%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    width: 10%;
    height: 100%;
    margin: 0% 1%;
    text-align: center;
    font-size: large;
    background-color: royalblue;
    color: aliceblue;
}