@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@200;300;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "IBM Plex Sans JP", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    background-color: aliceblue;
}

body {
    width: 80vw;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
    color: royalblue;
    background-color: rgb(211, 234, 255);
    border-radius: 10px;
    box-shadow: 0px 1px 5px 1px rgb(30,30,30,.3);
}

select {
    color: royalblue;
    width: 40%;
    padding-left: .5%;
}

.title {
    width: 80%;
    height: 10%;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 10%;
    font-size: xx-large;
    text-align: center;
    background-color: rgb(211, 234, 255);
}

.row {
    display: flex;
    margin-left: 10%;
    margin-bottom: 1.5%;
    background-color: rgb(211, 234, 255);
}

p {
    width: 30%;
    text-align: center;
    background-color: rgb(211, 234, 255);
}

p .necessary{
    color: rgb(249, 62, 62);
    background-color: rgb(211, 234, 255);
}

#invoiceNo{
    text-align: left;
}

.createDate {
    width: 20vw;
    background-color: rgb(211, 234, 255);
}

select, input {
    width: 40%;
    padding-left: .5%;
}

.chargeContentTitle{
    font-size: x-large;
}

.chargeContent {
    width: 70%;
    margin-top: 1.5%;
    margin-bottom: 3%;
    margin-left: 15%;
    padding: 1.5% 2%;
    padding-top: 2.5%;
    background-color: aliceblue;
    border-radius: 10px;
}

.chargeContent .row{
    display: flex;
    margin-left: 5%;
    margin-bottom: 1.5%;
    background-color: aliceblue;
}

.chargeContent p{
    width: 15%;
}

.chargeContent input {
    width: 66%;
}

.chargeContent .deleteBtn {
    width: 8%;
    height: 100%;
    margin-left: 3%;
    text-align: center;
    font-size: large;
    background-color: royalblue;
    color: aliceblue;
}

.chargeContent .deleteBtn:active {
    border: 1px solid royalblue;
    color: royalblue;
    background-color: aliceblue;
}

.ch
.chargeContent .gap {
    width: 100%;
    height: 3vh;
}

.addBtn {
    width: 8%;
    height: 100%;
    margin: 0% 49%;
    text-align: center;
    font-size: large;
    background-color: royalblue;
    color: aliceblue;
}

.addBtn:active {
    border: 1px solid royalblue;
    color: royalblue;
    background-color: aliceblue;
}

.product {
    width: 66%;
}

.eachItem p{
    background-color: aliceblue;
}

.eachItem .necessary{
    background-color: aliceblue;
}

.taxInputRow {
    width: 40%;
    padding: 1%;
    padding-left: 3%;
    background-color: aliceblue;
    border-radius: 10px;
}

.taxInputRow .taxInput {
    width: 70%;
    height: 50%;
    padding-left: .5%;
    margin: 2% 0%;
    margin-right: 1%;
}

.taxInputRow span {
    background-color: aliceblue;
}

.taxInputRow .addTax {
    width: 15%;
    height: 50%;
    margin-left: 3%;
    text-align: center;
    font-size: large;
    background-color: royalblue;
    color: aliceblue;
}

.taxInputRow .addTax:active {
    border: 1px solid royalblue;
    color: royalblue;
    background-color: aliceblue;
}

textarea {
    width: 40%;
    height: 30vh;
    resize: none;
    padding: .5%;
}

span{
    background-color: rgb(211, 234, 255);
}

#year, #month, #date {
    width: auto;
}

.buttons {
    width: 100%;
    height: 8vh;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 234, 255);
}

.buttons button {
    width: 10%;
    height: 100%;
    margin: 0% 1%;
    text-align: center;
    font-size: large;
    background-color: royalblue;
    color: aliceblue;
}

button, input, select, textarea{
    border-radius: 8px;
}

button:active {
    border: 1px solid royalblue;
    color: royalblue;
    background-color: aliceblue;
}

input, select, textarea{
    border: 2px solid rgb(118, 141, 162);
}

.swal-overlay {
    background-color: rgb(109, 129, 148, 0.7);
}

.swal-modal {
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
}

.swal-icon, .swal-title, .swal-text, .swal-footer {
    background-color: white;
    text-align: center;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: royalblue;
    color: aliceblue;
    font-size: 20px;
    border: 1px solid royalblue;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}